/* esto es del efecto olitas */
.svg {
  vertical-align: middle;
}
/* esto es el boton de enviar del form para pedir info de idioma con pseudoelemento con efecto*/

.buttonsend {
  border: 0.125rem solid #fb8600cc;
  background: none;
  color: #e2975acc;
  cursor: pointer;
  font-size: 0.938rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.buttonsend:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #f68742b8;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}

.buttonsend:hover:before {
  height: 190%;
}

.buttonsend:hover {
  color: white;
}
